<p id="notice"><%= notice %></p>

<p>
  <b>Lab:</b>
  <%= @computer.lab_id %>
</p>

<p>
  <b>Comp:</b>
  <%= @computer.comp_id %>
</p>

<p>
  <b>Model:</b>
  <%= @computer.model %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
